*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FCC060;
    --text-card: #5A6E7F;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: va;
}
/* utility */
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    padding: 15px;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.p-card{
    padding: 38px;
}
.p-28{
    padding: 28px 0px;
}
.container{
    padding: 44px 30px;
}
/* header */
header{
    background-color: var(--secondary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
header nav{
    height: 80px;
}
header nav ul{
    display: none; 
}
header nav a{
    color: white;
}
header nav i{
    font-size: 1.5rem;
}
/* main */
main{
    margin-top: 80px;
}
.bg-even{
    background-color: var(--primary-color);
}
.card{
    background-color: var(--bg-card);
    border-radius: 20px;
    margin-bottom: 15px;
}
.card-left{
    padding: 38px;
}
.card-right{
    width: 50%;
    margin: 0 auto;
}
.card-left p{
    color: var(--text-card);
}
.card h3{
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.p-card i{
    font-size: 5rem;
    color: var(--secondary-color);
}
/* planning */
.planning-left{
    color: var(--light-color);
    padding: 30px 0px;
}
.planning-right{
    background-color: var(--light-color);
    border-radius: 50px;
    color: var(--dark-color);
    padding: 50px 20px;
}
.planning-left h2{
    font-size: 2rem;
    padding: 70px 0px 48px 0px;
}
.planning-right h3{
    padding: 20px 0px;
    font-size: 1.5rem;
}
.planning-right p{
    font-style: italic;
    font-size: 1.1rem;
    padding-bottom: 70px;
}
.planning-right a{
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 15px 20px;
}
